.profilePic {
  width: 142px;
  height: 142px;
  border-radius: 10px;
  box-shadow: 0 0 0.5em rgb(0, 0, 0);
  object-fit: fill;
  background-color: transparent;
}

.get-photo-container {
  margin: 10px 0;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  background-image: url("../../img/user.png");
  background-color: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
img[src=""] {
  display: none;
}

.my-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-right {
  flex: 1;
  position: relative;
}

@media screen and (max-width: 480px) {
  .profilePic {
    width: 82px;
    height: 82px;
    border-radius: 10px;

    box-shadow: 0 0 2em rgb(0, 0, 0);
  }
  .get-photo-container {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .profilePic {
    width: 120px;
    height: 120px;
    border-radius: 10px;

    box-shadow: 0 0 2em rgb(0, 0, 0);
  }
  .get-photo-container {
    margin: 15px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .profilePic {
    width: 110px;
    height: 110px;
    border-radius: 10px;

    box-shadow: 0 0 0.5em rgb(0, 0, 0);
  }
  .get-photo-container {
    margin: 10px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .profilePic {
    width: 150px;
    height: 150px;
    border-radius: 10px;

    box-shadow: 0 0 0.5em rgb(0, 0, 0);
  }
  .get-photo-container {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}
