* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0 0 2em rgb(139, 139, 139);
}

.settingsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
  padding: 24px;
  width: 30vw;
  height: 95vh;
  background: linear-gradient(
    90deg,
    rgba(255, 145, 0, 1) 0%,
    rgba(255, 184, 0, 1) 35%
  );
  box-shadow: 0 0 2em rgb(139, 139, 139);
  margin-top: 24px;
  border-radius: 8px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

.label-Title {
  color: black;
}

.settings-Input {
  width: 25vw;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(21, 21, 21);
  color: black;
  margin: 20px 0px;
  font-size: 14px;
  padding-left: 10px;
  background-color: rgb(21, 21, 21);
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit {
  width: 80px;
  align-self: center;
  border: none;
  color: rgb(255, 255, 255);
  background: rgb(21, 21, 21);
  box-shadow: 0 0 2em rgb(139, 139, 139);
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.card-body {
  margin-left: 300px;
}

@media screen and (max-width: 480px) {
  .settingsWrapper {
    padding: 24px;
    width: 80vw;
    height: 95vh;
    background-color: rgba(21, 21, 21, 0.88);
    box-shadow: 0 0 2em rgb(139, 139, 139);
    margin-top: 24px;
    border-radius: 8px;
  }
  .settingsUpdateTitle {
    font-size: 20x;
    margin-bottom: 20px;
    color: black;
  }
  .settings-Input {
    width: 80vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
    margin: 20px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(21, 21, 21);
  }
  .card-body {
    margin-left: 250px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .settingsWrapper {
    padding: 24px;
    width: 80vw;
    height: 95vh;
    background-color: rgba(21, 21, 21, 0.88);
    box-shadow: 0 0 2em rgb(139, 139, 139);
    margin-top: 24px;
    border-radius: 8px;
  }
  .settingsUpdateTitle {
    font-size: 24x;
    margin-bottom: 20px;
    color: black;
  }
  .settings-Input {
    width: 80vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
    margin: 20px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(21, 21, 21);
  }
  .card-body {
    margin-left: 400px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .settingsWrapper {
    padding: 28px;
    width: 60vw;
    height: 95vh;
    background-color: rgba(21, 21, 21, 0.88);
    box-shadow: 0 0 2em rgb(139, 139, 139);
    margin-top: 24px;
    border-radius: 8px;
  }
  .settingsUpdateTitle {
    font-size: 24x;
    margin-bottom: 20px;
    color: black;
  }
  .settings-Input {
    width: 60vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
    margin: 20px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(21, 21, 21);
  }
  .card-body {
    margin-left: 400px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .settingsWrapper {
    padding: 28px;
    width: 60vw;
    height: 95vh;
    background-color: rgba(21, 21, 21, 0.88);
    box-shadow: 0 0 2em rgb(139, 139, 139);
    margin-top: 24px;
    border-radius: 8px;
  }
  .settingsUpdateTitle {
    font-size: 24x;
    margin-bottom: 20px;
    color: black;
  }

  .settings-Input {
    width: 60vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
    margin: 20px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(21, 21, 21);
  }
}
