.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  color: rgb(255, 145, 0);
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  color: rgb(255, 145, 0);
  border-style: solid;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;

  color: black;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 10px;
}
