.create-container {
  width: 50vw;
  height: 100vh;
}
.song-container {
  background-color: rgb(222, 212, 212);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  margin: 5px 0;
  width: 50vw;
  height: 50vh;
}

.song-img {
  width: 500px;
  height: 50px;
  object-fit: cover;
}

.song-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.song-name,
.song-artist {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.song-artist {
  font-weight: normal;
}
