.i-form-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-form {
  width: 50vw;
  height: 60vh;
  background: rgb(236, 231, 231);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 10px;
}

.submit-btn {
  outline: none;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin: 5px 5px 5px auto;
}

.create-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-input-field {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 16px;
  padding: 0 5px;
  margin: 5px 0;
}

.create-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.creation-title {
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .create-input-field {
    width: 350px;
  }
  .i-form-container {
    width: 350px;
  }
  .create-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .create-input-field {
    width: 350px;
  }
  .i-form-container {
    width: 350px;
  }
  .create-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .create-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .create-form {
    width: 40vw;
    height: 40vh;
    background: rgb(236, 231, 231);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
