* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  height: 60vh;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.152);
}

.lInput {
  height: 30px;
  width: 20vw;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}

.lButton {
  width: 80px;
  align-self: center;
  border: none;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 145, 0, 1) 0%,
    rgba(255, 184, 0, 1) 35%
  );

  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.lButton:disabled {
  background-color: #0101018c;
  cursor: not-allowed;
}

.l {
  display: flex;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.l-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(255, 145, 0, 1) 0%,
    rgba(255, 184, 0, 1) 35%
  );
}

.l-right {
  flex: 1;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.l-title {
  color: #0071c2;
}

@media screen and (max-width: 480px) {
  .main {
    display: none;
  }

  .lContainer {
    width: 80vw;
  }
  .lInput {
    width: 60vw;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    width: 100vw;
  }

  .lContainer {
    width: 70vw;
  }
  .lInput {
    width: 60vw;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .main {
    width: 100vw;
  }

  .lContainer {
    width: 70vw;
  }
  .lInput {
    width: 60vw;
    height: 30px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
}
