.update-container {
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.update-pen {
  pointer-events: painted;
  padding: 16px;
  color: green;
  margin: 20px;
}

.update-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.update-input {
  margin-top: px;
}

.update-btn {
  border: none;
}
