.update-container {
  height: 20vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.update-pen {
  pointer-events: painted;
  padding: 16px;
  color: green;
  margin: 20px;
  cursor: pointer;
}

.update-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.update-input {
  margin: 10px;
}

.update-btn {
  width: 80px;
  align-self: center;
  border: none;
  color: rgb(255, 255, 255);
  background: rgb(21, 21, 21);
  box-shadow: 0 0 2em rgb(139, 139, 139);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
