.get-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
}

/* .get-container-img {
  display: flex;
  flex-direction: column;
} */

.fpImg {
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

.get-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postTitle {
  color: white;
}
