.get-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.fpImg {
  margin-top: 50px;
  padding: 16px;
  width: 640px;
  height: 480px;
}

.get-name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.get-img {
  background-color: white;
  margin: 16px;
  box-shadow: 0 0 2em rgb(162, 162, 162);
  position: relative;
}
.get-img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 2em rgb(139, 139, 139);
}

a {
  text-decoration: none;
}

.creationDate {
  color: rgba(21, 21, 21, 0.502);
  font-weight: 400;
  font-size: 16px;
  margin: 16px;
}

.creationAuthor {
  position: absolute;
  top: 40px;
  left: 20px;
  margin: 5px;
}

.creationName {
  color: rgb(21, 21, 21);
  font-size: 24px;
  font-weight: 900;
}

.creationArtist {
  text-align: left;
  font-size: 16px;
  color: rgb(21, 21, 21);
  margin-bottom: 24px;
}

@media only screen and (max-width: 480px) {
  .fpImg {
    margin-top: 50px;
    padding: 16px;
    width: 320px;
    height: 240px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .get-container.img {
    width: 30vw;
    background-color: brown;
  }

  .fpImg {
    margin-top: 50px;
    padding: 16px;
    width: 450px;
    height: 338px;
  }
}
