.single-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
}

.single-img {
  width: 50vw;
  height: 60vh;
  background-color: aqua;
  object-fit: cover;
}

.single-trash {
  pointer-events: painted;
  padding: 16px;
  color: red;
  margin: 20px;
}

.single-form {
  display: flex;
  justify-content: left;
}

.single-title {
  font-size: 30px;
  padding: 20px;
}

.single-artist {
  font-size: 20px;
  margin-bottom: 10px;
}
