.single-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2em rgb(162, 162, 162);
  height: 900px;
  width: 100%;
}

.single-img {
  width: 70vw;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2em rgb(162, 162, 162);
  object-fit: cover;
}

.single-title {
  font-size: 30px;
  padding: 20px;
}

.single-artist {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .single-img {
    width: 320px;
    height: 240px;

    object-fit: cover;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single-img {
    width: 450px;
    height: 338px;

    object-fit: cover;
  }
  .single-container {
    height: 600px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .single-img {
    width: 600px;
    height: 450px;

    object-fit: cover;
  }
  .single-container {
    height: 650px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .single-img {
    width: 720px;
    height: 540px;

    object-fit: cover;
  }
  .single-container {
    height: 750px;
  }
}
