/* .main {
  background-color: rgb(21, 21, 21);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #2941ab;
} */
